chipwhisperer==5.7.0
configobj==5.0.8
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.34
ECPy==1.2.5
fastdtw==0.3.4
fonttools==4.39.3
kiwisolver==1.4.4
libusb1==3.0.0
matplotlib==3.7.1
numpy==1.24.3
packaging==23.1
picosdk==1.1
Pillow==9.5.0
py-cpuinfo==9.0.0
pyparsing==3.0.9
pyserial==3.5
python-dateutil==2.8.2
scalib==0.5.3
six==1.16.0
tqdm==4.65.0
IPython==8.27.0
ipykernel==6.29.5
ipywidgets==8.1.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyterlab==4.2.5
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
notebook==7.2.2
traitlets==5.14.3

